name: TAIM-GAN

on: [push]

jobs:
  create-virtualenv:
    runs-on: self-hosted
    steps:
      - name: Cloning repository
        uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Creating venv
        uses: syphar/restore-virtualenv@v1
        id: cache-virtualenv

      - uses: syphar/restore-pip-download-cache@v1
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'

      - run: |
          sed '/^pywin32.*/d' requirements.txt > reqs_linux.txt
          pip install -r reqs_linux.txt
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'

  code-quality:
    needs: create-virtualenv
    runs-on: self-hosted
    steps:
      - name: Cloning repository
        uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Restore venv
        uses: syphar/restore-virtualenv@v1
        id: cache-virtualenv

      - name: autoflake
        run: autoflake --recursive --in-place --remove-all-unused-imports --ignore-init-module-imports src
      - name: pyupgrade
        run: pyupgrade --exit-zero-even-if-changed --py39-plus **/*.py
      - name: isort
        run: isort src
      - name: black
        run: black src
      - name: pylint
        run: pylint src
      - name: mypy
        run: mypy src
      - name: safety-check
        run: safety check

  tests:
    needs: code-quality
    runs-on: self-hosted
    steps:
      - name: Cloning repository
        uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Restore venv
        uses: syphar/restore-virtualenv@v1
        id: cache-virtualenv

      - name: Run pytest
        run: coverage run -m --source src pytest tests
      - name: Report coverage
        run: coverage report -m --skip-empty
